# vscode/ds_store
.DS_Store
.vscode/
no_use/

# Settings
.env

# DATASET
/Dataset
/reference

# Tensorboard
/runs

# jupyterlab playground
playground.ipynb

# cache
.ipynb_checkpoints/
__pycache__/

# paper
Brebisson_Deep_Neural_Networks_2015_CVPR_paper.pdf

# trained model and log
*.pth
*.txt
trained_model/
